#body {
    background: black;
}
#CV{
    background: white;
    position: relative;
    left: 3%;
    width: 70%;
    min-width: 1000px;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px gray;
    min-height: 1120px;
}
#leftBloc{
    display: inline-block;
    min-width: 600px;
    width: 50%;
    border-right: 2px solid black;
    margin-right: 15px;
    margin-top: 5px;
}

#rightBloc{
    display: inline-block;
    width: 24%;
    min-width: 300px;
    vertical-align: top;
    position: relative;
    margin-top: 5px;
}
h1{
    padding-bottom: 0;
}
#intro {
    text-align: center;
}
#name{
    font-size: 23px;
    font-weight: bold;
    padding-top: 0;
}
#presentation{
    color: gray;
}
h2{
    color: rgb(51, 102, 255);
}
span {
    font-weight: bold;
    font-size: 17px;
}
.date {
    color: gray;
    font-style: italic;
    font-size: 12px;
}
p, div{
    padding-bottom: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    margin-bottom: 2px;
    padding-bottom: 5px;
}
a{
    text-decoration-line: none;
    color: green;
}
.bar {
    /*border: 1px solid gray;*/
    background: gray;
    min-width: 50px;
    height: 15px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}
.color {
    display: inline-block;
    background: blue;
    height: 100%;
    margin: 0;
    padding: 0;
}
#html {
    width: 70%;
}
#css {
    width: 70%;
}
#javascript {
    width: 30%;
}
#php {
    width: 30%;
}
#mysql {
    width: 50%;
}
#c {
    width: 30%;
}